<!DOCTYPE html>
{% load static %}
{% load app_tags %}

<html lang="en">
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'images/icon.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
{% for m in menu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
				{% if request.user.is_authenticated %}
					<li class="last">{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
				{% else %}
					<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<!-- начало левого меню -->

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li class="selected"><b> <font color="#0059b2"> Навигация по сайту: </font></b></li>


		   {% if request.user.is_authenticated %}
				<li><a href="{% url 'page_user' user.pk %}">Ваша страница</a><hr color="black" size="1px"></li>
			{% else %}
				<li><a href="{% url 'login' %}">Ваша страница</a><hr color="black" size="1px"></li>
			{% endif %}

		<li><a href="{% url 'top_photos' %}">Топ фотографий</a><hr color="black" size="1px"></li>
		<li><a href="{% url 'list_of_users' %}">Список всех пользователей</a><hr color="black" size="1px"></li>
		<li><a href="{% url 'random_photo' %}">Случайная фотография</a><hr  size="1px" color="black"></li>

{% if cat_selected == 0 %}
		<li class="selected"><b><font color="#0059b2">Все категории:</font></b></li>
{% else %}
		<li><a href="{% url 'index' %}"><b><font color="#0059b2">Все категории:</font></b></a></li>
{% endif %}

{% for c in cats %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{c.name}}<hr color="black" size="1px"></li>
	{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{c.name}}<hr color="black" size="1px"></a></li>
	{% endif %}
{% endfor %}

	</ul></td>

	<!-- конец левого меню -->


<td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock  %}

	<div class="content-text">
{% block content %}
{% endblock content %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>


{% if page_obj.has_previous %}
<li class="page-num">
	<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
        <li class="page-num page-num-selected"><b>{{ p }}</b></li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

{% if page_obj.has_next %}
<li class="page-num">
	<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
	</div>

</td></tr></table>

<!-- футер-->
<tr><td valign="top">
	<div id="footer">
		<p>This website is under development!</p>
	</div>
</td></tr></table>
</body>
</html>





</body>