<!DOCTYPE html>
{% load static %}
{% load app_tags %}

<html lang="en">
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'images/icon.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'index' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}
		<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% else %}
		<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

{% show_categories %}

<td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock  %}

	<div class="content-text">
{% block content %}
{% endblock content %}
	</div>

</td></tr></table>

<!-- футер-->
<tr><td valign="top">
	<div id="footer">
		<p>This website is under development!</p>
	</div>
</td></tr></table>
</body>
</html>





</body>